

<%=form_for @template, :html => {:id => @template.id.to_s + "-form"} do |f| %>
<div class="form-inline">
  <%= f.label :category_id%>
  <%= f.select(:category_id) do %>
    <% @categories.each do |cat| %>
      <%= content_tag(:option, cat.name, value: cat.id) %>
    <% end %>
  <% end %>
    <div class="form-group">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, :class => "form-control", :cols => '30', :rows => '2', :placeholder => "Description" %>
    </div>
  <div class="form-group">
    <%= f.label :image, "PSD File" %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>
  <%= f.submit :class => "btn btn-info btn-sm" %>
</div>

<%end%>
