
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $("#cropbox").Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, <%= @template.image_geometry(:large).width %>, <%= @template.image_geometry(:original).height %>],
        aspectRatio: 16/9
      });
  });
  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
      $("#preview").css({
        width: Math.round(rx * <%= @template.image_geometry(:original).width %>) + 'px',
        height: Math.round(ry * <%= @template.image_geometry(:original).height %>) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
      var ratio =
		<%= @template.image_geometry(:original).width %> /
		<%= @template.image_geometry(:large).width %>;
      $("#template_crop_x").val(Math.round(coords.x * ratio));
      $("#template_crop_y").val(Math.round(coords.y * ratio));
      $("#template_crop_w").val(Math.round(coords.w * ratio));
      $("#template_crop_h").val(Math.round(coords.h * ratio));
  }
</script>


          <div align="middle" class="cropper-container">
            <% if @template.title %>
              <h2><%= @template.title %></h2>
              <h3><%= @template.description %></h3>
            <% end %>
            <br>
            <%= image_tag @template.image.url(:large), :id => "cropbox" %>
            <%= form_for @template, url: crop_template_path(@template) do |f| %>
              <% %w[x y w h].each do |attribute| %>
                <%= f.hidden_field "crop_#{attribute}" %> <br>
              <% end %>
              <div class="actions">
                <%= f.submit "Crop", :class => "categoryLink" %>
                <%= link_to "Back to Templates Page", root_path, :class => "categoryLink" %>
              </div>
            <% end %>
          </div>
