<script type="text/javascript">
  $(document).ready(function() {
    $('#file-input').on("change", function() {
      $('#upload-image').removeAttr('disabled');
    });
  })

</script>

<div class="outside-container-box">
  <div class="container-box">
    <span class="glyphicon glyphicon-arrow-left position"><a class="inner-glyph" href="/">BACK</a></span>
    <div class="parent">
      <div class="item"></div>
      <div class="item"><h1 class="startingQ">UPLOAD YOUR IMAGE</h1></div>
      <div class="item"></div>
    </div>
    <div class="parent4">
      <div class="item4"></div>
      <div class="item4 categories">
        <div class="btn-group btn-div">
          <%=form_for @template, :html => {:id => @template.id.to_s + "-form"} do |f| %>
            <div class="form-inline">
              <div class="form-group">
                <%= f.label :image, "Image File" %>
                <%= f.file_field :image, class: 'form-control', :id => "file-input"%>
              </div>
              <%= f.submit "Upload Image", :class => "btn btn-info btn-sm", :id => "upload-image", :disabled => true %>
            </div>
            <div class="form-group">
              <h4>Please Select An Aspect Ratio</h4>
              <%= radio_button_tag(:aspect, "4") %>
              <%= label_tag(:aspect_4, "No Ratio") %>
              <br>
              <%= radio_button_tag(:aspect, "0") %>
              <%= label_tag(:aspect_0, "1:1 Aspect Ratio") %>
              <br>
              <%= radio_button_tag(:aspect, "1") %>
              <%= label_tag(:aspect_1, "4:3 Aspect Ratio") %>
              <br>
              <%= radio_button_tag(:aspect, "2") %>
              <%= label_tag(:aspect_2, "16:9 Aspect Ratio") %>
              <br>
              <%= radio_button_tag(:aspect, "3") %>
              <%= label_tag(:aspect_3, "5:7 Aspect Ratio") %>
            </div>
          <%end%>
        </div>
      </div>
      <div class="item4"></div>
    </div>
  </div>
</div>
