Show page for individual template

<h1><%= @template.title %></h1>
<%= link_to "Download", @template.image.url(:original, false), class: "pull-right btn btn-large btn-primary" %>
<h2><%= @template.description %></h2>
<br>

<% if current_user %>
  <%= link_to "Edit", edit_template_path(@template)%> ||
<%end%>
<%= link_to 'Back to table', admin_path %>

<%= image_tag @template.image, :id => "cropbox" %>
<%= form_for @template do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %> <br>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
