
<div class="container">
  categories admin_index page

  <%=link_to "+", new_template_path, :method => :get, class: "plusButton pull-right btn btn-info btn-sm"%>

  <% if current_user.username == "AlphaAdmin"%>
    <table class="table  table-bordered">
      <thead>
        <tr>
          <th>Category <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose a Category
                          </button>
                          <div class="dropdown-menu">
                            <%= link_to @categories[0].name, category_path(@categories[0]) %>
                            <br>
                            <%= link_to @categories[1].name, category_path(@categories[1]) %>
                            <br>
                            <%= link_to @categories[2].name, category_path(@categories[2]) %>
                          </div>
                        </div></th>
          <th>Title</th>
          <th>Description</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |cat| %>
        <% cat.templates.each do |temp| %>
          <% if cat.name == "Social Media" %>
            <tr class="Social">
          <% elsif cat.name == "Advertising" %>
            <tr class="Advertising">
          <% elsif cat.name == "Website Graphics" %>
            <tr class="Website">
          <% end %>
            <th scope="row" id="<%=temp.id.to_s %>-temp-cat"><%= cat.name %></th>
            <td id="<%=temp.id.to_s %>-temp-title"><%= link_to temp.title, template_path(temp) %></td>
            <td id="<%=temp.id.to_s %>-temp-description"><%= temp.description %></td>
            <td id="<%=temp.id.to_s %>-temp-img "><%= image_tag temp.image.url, class: "img-thumb" %></td>
            <td><%= link_to "Edit", edit_template_path(temp), :id => temp.id.to_s + "-template", :class => "btn btn-warning", remote: true%><%= link_to "Delete", template_path(temp), :class => "btn btn-danger", :method => "delete" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<%end %>
