<div class="container">
  <%= @category.name %> show page
  <% if current_user.username == "AlphaAdmin"%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose a Category
                          </button>
                          <div class="dropdown-menu">
                            <%= link_to Category.all[0].name, category_path(Category.all[0]) %>
                            <br>
                            <%= link_to Category.all[1].name, category_path(Category.all[1]) %>
                            <br>
                            <%= link_to Category.all[2].name, category_path(Category.all[2]) %>
                            <div class="dropdown-divider"></div>
                            <%= link_to "All", admin_path %>
                          </div>
                        </div></th>
          <th>Title</th>
          <th>Description</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @category.templates.each do |temp| %>
        <% if @category.name == "Social Media" %>
          <tr class="social-media-tr">
        <% elsif @category.name == "Advertising" %>
          <tr class="advertising-tr">
        <% elsif @category.name == "Website Graphics" %>
          <tr class="website-graphics-tr">
        <% end %>
            <th scope="row" id="<%=temp.id.to_s %>-temp-cat"><%= @category.name %></th>
            <td id="<%=temp.id.to_s %>-temp-title"><%= link_to temp.title, template_path(temp) %></td>
            <td id="<%=temp.id.to_s %>-temp-description"><%= temp.description %></td>
            <td id="<%=temp.id.to_s %>-temp-img"><%= image_tag "sample_image.jpg", :class => "img-thumb" %></td>
            <td><%= link_to "Edit", edit_template_path(temp), :id => temp.id.to_s + "-template", :class => "btn btn-warning", remote: true%><%= link_to "Delete", template_path(temp), :class => "btn btn-danger", :method => "delete" %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <%end %>
</div>
